<div class="container">
  <section class="cabecera">
    <h1 class="cabecera__titulo">Gestion de Clientes:</h1>
  </section>
  <section class="busqueda">
    <span>Busque un cliente:</span>
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput placeholder="Ex. ium" #input>
    </mat-form-field>
  </section>
  <section class="acciones">
    <button (click)="agregarItem()" mat-raised-button color="primary">
      <mat-icon>add</mat-icon>Agregar
    </button>
    <button (click)="agregarItem()" mat-raised-button color="accent">
      <mat-icon>description</mat-icon>Reporte
    </button>
  </section>
  <section class="tabla">
    <app-cliente-tabla [clientes]="clientes()" (editItem)="editItemHandler($event)" 
    (deleteItem)="deleteItemHandler($event)" />
  </section>
</div>