.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 100%;

  .card {
    width: 25%;
    height: 75vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;

      &__cabecera {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 35%;

        &__logo {
          height: 50%;
          width: auto;
          font-size: 84px;
          color: #673ab7;
        }
      }

      &__cuerpo {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    
  }
}