h1,
h2,
h3,
h4 {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 90%;
  margin: 30px auto;

  .busqueda {
    display: flex;
    flex-direction: column;
  }
  .acciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
